.container1 {
    background-color: white;
    float: right;
    width: 50%;
    height: 100%;
}

.header {
    padding: 60px;
    margin: 40px;
    font-family: arial;
}

.hello {
    height: 50px;
    width: 60px;
    margin: 20px;
}

.logo {
    height: 70px;
    width: 150px;
    margin: 20px;
    float: right;

}

input,
textarea {
    outline: none;
    width: 50%;
    height: 40%;
    margin: 10px 0px;
    padding: 8px;
    font-size: 15px;
    cursor: pointer;
    opacity: 10;
}

form {
    align-items: left;
    justify-content: left;
    flex-direction: column;
    display: flex;
    padding: 0px;
    cursor: pointer;
}

.signup {
    outline: none;
    width: 50%;
    height: 20%;
    margin: 10px 0px;
    padding: 5px;
    font-size: 15px;
    outline-color: skyblue;
    cursor: pointer;
}

.Login {
    width: 50%;
    height: 20%;
    margin: 10px 0px;
    padding: 5px;
    font-size: 15px;
    background-color: skyblue;
    cursor: pointer;
}

p {
    font-size: 15px;
}

-------------- .footer {
    background-color: gray;
    float: left;

}

.box {
    background-color: gray;
    width: 800px;
    height: 900px;
    background-color: #ecf2f7;
}

img {
    width: 600px;
    height: 600px;
    padding: 20px;
    margin: 50px;
    float
}

h2 {
    font-size: 40px;
}

.checkbox {

    text-align: center;
}